In [1]:
import time
time.time()

1640857477.1224055

In [2]:
print(time.strftime('%Y-%m-%d', time.localtime(time.time())))
print(time.strftime('%A', time.localtime(time.time())))
print(time.strftime('%H:%M', time.localtime(time.time())))

2021-12-30
Thursday
19:06

In [3]:
recenct_time = time.strftime('%Y-%m-%d', time.localtime(time.time()))
recenct_time

'2021-12-30'

In [1]:
import pandas as pd
pd.DataFrame(data=[1,2,3,4],)

   0
0  1
1  2
2  3
3  4

# 시간표 어플
## 요구사항
 - 각 시간마다 무엇을 해야하는지 보여줘야함
 - 각 시간마다 무엇을 했는지 표시할 수 있어야함